.main {
  overflow: hidden;
}
svg {
  fill: #000000;
}
/* Circles */
.circleRed {
  height: 150px;
  width: 150px;
  position: absolute;
  left: 12rem;
  top: 6rem;
  background-color: #fca5a5;
  border-radius: 50%;
  z-index: -10;
}
.circleBlue {
  height: 200px;
  width: 200px;
  position: absolute;
  overflow: hidden;
  left: 660px;
  top: 200px;
  background-color: #93c5fd;
  border-radius: 50%;
  z-index: -11;
}
.circleYellow {
  height: 250px;
  width: 250px;
  position: absolute;
  left: -70px;
  top: 340px;
  background-color: #fcd34d;
  border-radius: 50%;
  z-index: -12;
}
.circleGreen {
  height: 200px;
  width: 200px;
  position: absolute;
  left: 460px;
  top: -20px;
  background-color: #86efac;
  border-radius: 50%;
  z-index: -13;
}
.circlePink {
  height: 200px;
  width: 200px;
  position: absolute;
  left: 560px;
  top: 500px;
  background-color: #f9a8d4;
  border-radius: 50%;
  z-index: -14;
}
.circlePurple {
  height: 75px;
  width: 75px;
  position: absolute;
  left: 390px;
  top: 340px;
  background-color: #d8b4fe;
  border-radius: 50%;
  z-index: -14;
}

/* Triangles */
/* .triangleRed {
  height: 150px;
  width: 150px;
  position: absolute;
  left: 7.5rem;
  top: 7.5rem;
  background-color: lightcoral;
  border-radius: 50%;
  z-index: -11;
}
.triangleBlue {
  height: 250px;
  width: 250px;
  position: absolute;
  left: -70px;
  top: 340px;
  background-color: lightblue;
  border-radius: 50%;
  z-index: -11;
}
.triangleYellow {
  height: 200px;
  width: 200px;
  position: absolute;
  left: 660px;
  top: 200px;
  background-color: wheat;
  border-radius: 50%;
  z-index: -12;
}
.triangleGreen {
  height: 200px;
  width: 200px;
  position: absolute;
  left: 460px;
  top: 30px;
  background-color: lightgreen;
  border-radius: 50%;
  z-index: -13;
}
.trianglePink {
  height: 200px;
  width: 200px;
  position: absolute;
  left: 560px;
  top: 500px;
  background-color: pink;
  border-radius: 50%;
  z-index: -14;
} */
