@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Eiko Med";
    /* font-weight: 500; */
    src: url(./assets/fonts/PPEiko-Medium.otf) format("otf");
  }
  @font-face {
    font-family: "Eiko Heavy";
    /* font-weight: 600; */
    src: url(./assets/fonts/PPEiko-Heavy.otf) format("otf");
  }
  @font-face {
    font-family: "Roboto Regular";
    /* font-weight: 400; */
    src: url(./assets/fonts/Roboto-Regular.ttf) format("ttf");
  }
  @font-face {
    font-family: "Roboto Bold";
    /* font-weight: 700; */
    src: url(./assets/fonts/Roboto-Bold.ttf) format("ttf");
  }
}
